@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

.eth-price {
  font-size: 3rem;
}

.eth-change {
  font-size: 1.25rem; /* ~text-xl */
}

@media (min-width: 640px) {
  .eth-price {
    font-size: 4rem;
  }
  .eth-change {
    font-size: 1.5rem; /* ~text-2xl */
  }
}
@media (min-width: 768px) {
  .eth-price {
    font-size: 5rem;
  }
  .eth-change {
    font-size: 1.875rem; /* ~text-3xl */
  }
}
@media (min-width: 1280px) {
  .eth-price {
    font-size: 10rem;
  }
  .eth-change {
    font-size: 2.25rem; /* ~text-4xl */
  }
}
